# // Ignore all files in the extension folder
**

# Top-level metadata
!.vscodeignore
!LICENSE.txt
!changelog.md
!image-1.png
!logo.png
!package.json
!readme.md

# Binaries
!asist.exe
!asist_darwin_amd64
!asist_darwin_arm64
!asist_linux_amd64
!asist_linux_arm64

# Client
!client/configfiletemplate.yaml
!client/package.json
!client/out/**
!client/node_modules/vscode-languageclient/**

# Server
!server/package.json
!server/out/**
!server/node_modules/vscode-languageserver/**
!server/node_modules/vscode-languageserver-textdocument/**